<% content_for :title, t(".title") %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card shadow-sm">
        <div class="card-body p-4">
          <div class="d-flex justify-content-start mb-4">
            <%= link_to t(".new"), new_repository_path, class: "btn btn-primary" %>
          </div>

          <% if @repositories.any? %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="width: 40%"><%= t(".name") %></th>
                  <th style="width: 10%"><%= t(".language") %></th>
                  <th style="width: 50%"><%= t(".last_check") %></th>
                </tr>
              </thead>
              <tbody>
                <% @repositories.each do |repo| %>
                  <tr>
                    <td><%= link_to repo.name, repository_path(repo) %></dd>
                    <td><%= repo.language %></dd>
                    <td>
                      <% if repo.checks.any? %>
                        <%= repo.checks.last.passed ? t(".true") : t(".false") %>
                      <% else %>
                        <%= t(".no_checks") %>
                      <% end %>
                    </dd>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p class="text-center"><%= t(".no_repositories") %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
