<% content_for :title, t(".title", id: @check.id) %>

<% if @check.aasm_state == "cloning" || @check.aasm_state == "checking" %>
  <meta http-equiv="refresh" content="3">
<% end %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card shadow-sm">
        <div class="card-body p-4">
          <div class="mb-4">
            <%= link_to t(".back_to_repository"), repository_path(@repository), class: "btn btn-primary" %>
          </div>

          <h1 class="display-6 fw-semibold mb-4"><%= t(".title", id: @check.id) %></h1>

          <div class="mb-4">
            <table class="table">
              <tbody>
                <tr>
                  <th style="font-weight: normal;"><%= t(".created_at") %></th>
                  <td><%= localize_date(@check.created_at, :long) %></td>
                </tr>
                <tr>
                  <th style="font-weight: normal;"><%= t(".status") %></th>
                  <td><span class="badge bg-<%= check_state_badge(@check.aasm_state) %>"><%= @check.aasm_state == "finished" ? t(".finished") : @check.aasm_state %></span></td>
                </tr>
                <tr>
                  <th style="font-weight: normal;"><%= t(".passed") %></th>
                  <td><%= @check.passed.nil? ? t(".pending") : (@check.passed ? t(".true") : t(".false")) %></td>
                </tr>
                <tr>
                  <th style="font-weight: normal;"><%= t(".offenses_count") %></th>
                  <td><%= @check.offenses_count || 0 %></td>
                </tr>
                <tr>
                  <th style="font-weight: normal;"><%= t(".commit_id") %></th>
                  <td>
                    <% if @check.commit_id && @check.commit_id != "pending" %>
                      <%= link_to @check.commit_id.first(8), "https://github.com/#{@repository.full_name}/commit/#{@check.commit_id}", target: "_blank" %>
                    <% else %>
                      <%= @check.commit_id %>
                    <% end %>
                  </dd>
                </tr>
              </tbody>
            </tr>
          </div>

          <% if @check.output.present? %>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th><%= t(".message") %></th>
                  <th><%= t(".rule") %></th>
                  <th><%= t(".line_column") %></th>
                </tr>
              </thead>
              <tbody>
                <% parse_rubocop_output(@check.output).each do |offense| %>
                  <tr>
                    <td style="white-space: normal;">
                      <%= link_to offense[:file], github_file_url(@repository.full_name, offense[:file]), target: "_blank" %><br>
                      <%= offense[:message] %>
                    </dd>
                    <td style="white-space: normal;"><%= offense[:rule] %></dd>
                    <td style="white-space: normal;"><%= offense[:line_column] %></dd>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
